<h1>Barcelona News!</h1>

<div class="article-container">
    {{#each articleView }}
    <div>
        <h2>{{this.title}}</h2>
        <p>{{this.description}}</p>
        <a href="{{this.link}}" target="_blank">More info</a>
        <img src="{{this.image}}" alt="Article Image">

    </div>


    {{/each}}
    
</div>